<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xcu.manager.mapper.ProductSpecMapper">
    <!--  映射查询到的字段 -->
    <resultMap id="ProductSpecMap" type="cn.edu.xcu.yky.model.entity.product.ProductSpec" autoMapping="true">
    </resultMap>
</mapper>